.main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-info {
    padding-left: 5%;
    padding-top: 5%;
}

.main-info,
.main-img {
    width: 50%;
}

.main-info h2 {
    font-size: 40px;
}

.main-info h1 {
    font-size: 50px;
    margin-top: 5px;
}

.main-info h3 {
    font-size: 30px;
    margin-top: 5px;
}

.main-info p {
    font-size: 20px;
    margin-top: 30px;
}

.main-info-button {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-info-button button {
    width: 30%;
    margin-right: 20px;
    background-color: #776053;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
}

.main-info-button img {
    width: 25px;
    margin-right: 5px;
}

.main-info-button p {
    font-size: 14px;
    margin-top: 0;
}

.main-img>img {
    width: 100%;
}

.main-img {
    position: relative;
    display: inline-block;
}

.main-img-info {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 50px;
    border-top-left-radius: 20px;
    padding-left: 10px;
    background-color: #FFF9E8;
    color: #333;
}

.main-img-info img {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .main {
        display: block;
    }
    .main-info,
    .main-img {
    width: 100%;
}
}

@media (max-width: 1024px) {
    .main-info h2 {
        font-size: 24px;
    }

    .main-info h1 {
        font-size: 30px;
        margin-top: 3px;
    }

    .main-info h3 {
        font-size: 20px;
        margin-top: 3px;
    }

    .main-info p {
        font-size: 16px;
        margin-top: 24px;
    }

    .main-info-button button {
        font-size: 16px;
        width: auto; 
    }

    .main-info-button p {
        font-size: 12px;
    }
}
